---
import { format } from "date-fns/format";
import { prepareTags, type Post } from "@lib/posts";
import OgImage from "@layouts/OgImage.astro";

type Props = {
  post: Post;
};

const { post } = Astro.props;
const random = Math.trunc((post.data.pubDate.getTime() / 100000) % 24);
const formattedPubDate = format(post.data.pubDate, "dd MMMM yyyy");
---

<OgImage random={random}>
  <time class="date" datetime={post.data.pubDate.getTime().toString()}>
    {formattedPubDate}
  </time>
  <h1>{post.data.title}</h1>
  <div class="post-meta">
    <span class="time-estimate">{post.readingTime}</span>
    <span class="tags">
      {
        prepareTags(post.data.tags).map((tag, index) => (
          <Fragment>
            {index > 0 && ", "}
            {tag.tagTitle}
          </Fragment>
        ))
      }
    </span>
  </div>
</OgImage>

<style lang="scss">
  @use "../styles/reset";
  @use "../styles/media-queries";
  @use "../styles/functions";
  @use "../styles/colors";
  @use "../styles/variables";
  @use "../styles/mixins";
  @use "../styles/typography";

  .date {
    @include mixins.delicate;
    font-size: variables.$font-size-h6;
  }

  .post-meta {
    @include mixins.post-meta;
    font-size: variables.$font-size-paragraph;
  }
</style>
